body {
    padding-top: 70px;
    background: url("../images/backgr.png") repeat;
}
/*
div, .panel {
    border: 1px solid #000000;
    border-radius: 5px;
}*/

.navbar-right {
    margin-right: auto;
}

/* цвет фона и рамки навигационного меню */
.navbar-default {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}

.inside-nav {
    background-color: rgb(132, 231, 157);
    border: 1px solid rgb(132, 231, 157);
    border-radius: 10px;
}
/* Цвет пунктов навигационного меню */
.navbar-default .navbar-nav > li > a {
    color: #000000;
    background-color: rgb(132, 231, 157);
    border: 1px solid rgb(132, 231, 157);
    border-radius: 10px;
}
/* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000000;
    background-color: #3fe750;
    border: 1px solid rgb(132, 231, 157);
    border-radius: 10px;
}

/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: #3fe750;
    border: 1px solid rgb(132, 231, 157);
    border-radius: 10px;
}

#board {
    background-color: #ffffff;
}

/* Курсор для элементов дерева */
.tree_element {
    cursor: pointer;
}

/* Для вкладки Event*/
td {
    border: 1px solid gray;
    -webkit-user-select: none;
    height: 13px
}

th {
    -webkit-user-select: none;
}

table {
    width: 100%;
}

.first-row-th {
    text-align: center;
    width: 14%;
}

.first-col-td {
    width: auto;
    text-align: right;
}

/* Для покраски ячеек таблицы*/
.colored {
    background-color: rgba(103,222,231,0.39);
}


/*Для всплывающего окна дополнительной информации о событии*/
.form-group .control-label {
    text-align: left;
}
/*Горизонтальная линия*/
hr {
    height: 1px;
    background-color: rgb(229, 229, 229);
}
/*Убираем отступ сверху над статусом*/
.no-margin-top {
    margin-top: 0;
}

.no-display {
    display: none;
}

/*

.div-main-body {
    background: #bfe9e6;
}*/
